html, body, h1, h2, h3, h4, ul, ol, li, p, a {
  padding: 0;
  border: 0;
  margin: 0;
  font: inherit;
  font-size: 100%;
}
.header {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
  background: #666666;
  padding: 15px;
  margin-bottom: 10px;
}
.tabs h2 {
  text-align: center;
  padding-bottom: 5px;
  border-bottom: 5px;
  font-style: italic;
}
.tabs li {
  display: inline;
}
body {
  background: #888888;
}
.footer {
  background: #990000;
}
a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #aa0000;
  text-decoration: underline;
}
